{% extends "base_customer.html" %}

{% block title %} Payment {% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}

<h1>Payment {{payment.external_id}} to a merchant {{payment.merchant_id}}</h1>
	<table class="table">
		<tr><td colspan=2>Send {{payment.grin_amount|grin}} to:</td></tr>
		<tr><td colspan=2><pre>grin --floonet wallet send -s smallest -d {{payment_url}} {{payment.grins().amount()}}</pre></td></tr>
		<tr><td >Status:</td><td class="table-{{payment.color()}}">{{payment.status}}</td></tr>
		{% if payment.time_until_expired().is_some() -%}
		<tr><td >Expired in:</td><td >{{payment.time_until_expired().unwrap()|duration}}</td></tr>
		{%- endif %}
		<tr><td>Amount: </td><td>{{payment.amount}}</td></tr>
		<tr><td>Message: </td><td>{{payment.message}}</td></tr>
	</table>

{% endblock %}
