{% extends "base.html" %}

{% block title %} Payout {% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}

	<h1>Payout {{tx_id}}</h1>

	<table class="table">
		<tr><td>Amount:</td><td>{{amount}}</td></tr>
		<tr><td>Transfer fee:</td><td>{{transfer_fee}}</td></tr>
		<tr><td>Knockturn fee:</td><td>{{knockturn_fee}}</td></tr>
		<tr><td>Reminder:</td><td>{{reminder}}</td></tr>
		<tr><td class="table-{{payout.color()}}">Status:</td><td >{{status}}</td></tr>
	</table>

	{% if download_slate -%}
	<form action="/payouts/{{tx_id}}/knockturn-payout.grinslate">
		<input type="submit" value="Download slate">
	</form>
	{%- endif -%}
	

{% endblock %}
