{% extends "base.html" %}

{% block title %} Payout {% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}

	<h1>Payout {{payout.id}}</h1>

	<table class="table">
		<tr><td>Amount:</td><td>{{payout.grin_amount|grin}}</td></tr>
		<tr><td>Transfer fee:</td><td>{{payout.transfer_fee.unwrap()|grin}}</td></tr>
		<tr><td>Knockturn fee:</td><td>{{payout.knockturn_fee.unwrap()|grin}}</td></tr>
		<tr><td>Reminder:</td><td>{{payout.reminder().unwrap()|grin}}</td></tr>
		<tr><td >Status:</td><td class="table-{{payout.color()}}">{{payout.status}}</td></tr>
		{% if payout.time_until_expired().is_some() -%}
		<tr><td >Expired in:</td><td >{{payout.time_until_expired().unwrap()}}</td></tr>
		{%- endif %}
	</table>

	{% if payout.status == TransactionStatus::New -%}
	<form action="/payouts/{{payout.id}}/knockturn-payout.grinslate">
		<input type="submit" value="Download slate">
	</form>
	{%- endif -%}
	

{% endblock %}
