{% extends "base.html" %}

{% block title %} Transactions {% endblock %}

{% block content %}

	<p>Transactions: {{total}}</p>
	
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link {{txtype.is_active("All")}}" href="?txtype=All">Transactions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{txtype.is_active("Payouts")}}" href="?txtype=Payouts">Payouts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{txtype.is_active("Payments")}}" href="?txtype=Payments">Payments</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{txtype.is_active("Refunds")}}" href="?txtype=Refunds">Refunds <span class="badge badge-danger">{{refunds_num}}</span></a>
		</li>
	</ul>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Grins</th>
				<th>Status</th>
				<th>Reported</th>
				<th>Confirmations</th>
				<th>Created</th>
				<th>Updated</th>
			</tr>
		</thead>
		<tbody>
{% for transaction in transactions %}
	{% include "_transaction_row.html" %}
  {% endfor %}
		</tbody>
  </table>


{% include "_paginate.html" %}



{% endblock %}
