{% extends "base.html" %}

{% block title %}Withdraw{% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}



{% if error.is_some() -%}
{{ error.as_ref().unwrap() }} </br>
{%- endif -%}

Balance: {{balance}} </br>
Knokturn fee: {{knockturn_fee}} </br>
Transfer fee: {{transfer_fee}} </br>
Total: {{total}} </br>

{% if error.is_none() -%}
<form method="POST">
	<input type="hidden" name="amount" value="{{balance.amount}}">
	<button type="submit">Withdraw</button></br>
</form>
{%- endif %}

{% endblock %}
