{% extends "base.html" %}

{% block title %}Withdraw{% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}



{% if error.is_some() -%}
{{ error.as_ref().unwrap() }} </br>
{%- endif -%}

Balance: {{balance}} </br>
Knokturn fee: {{knockturn_fee}} </br>
Transfer fee: {{transfer_fee}} </br>
Total: {{total}} </br>

{% if error.is_none() -%}
<a href="">Pay with IronBelly</a></br>
or download slate <a href="/withdraw/knockturn-payment.grinslate">here</a></br>
You need to sing this slate in your wallet and POST it to url {{url}}
{%- endif %}

{% endblock %}
